.auth-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.auth-menu_position {
  margin: 0 70px 0 0;
}

.auth-menu-item {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  height: 32px;
  background-color: unset;
  border: unset;
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: grid;
  place-items: center;
}

.auth-menu-item:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.auth-menu-item:first-child {
  margin: 0 30px 0 0;
}

.auth-menu_visibility {
  display: none;
}

.auth-menu-item_active {
  background-color: #3ddc84;
  border-radius: 3px;
  width: 76px;
  color: #000;
}

.auth-menu-item:active,
.auth-menu-item:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .auth-menu {
    margin: 0 30px 0 0;
  }
}

@media screen and (max-width: 520px) {
  .auth-menu {
    margin: 0 14px 0 0;
  }

  .auth-menu-item {
    font-size: 10px;
    line-height: 16px;
  }

  .auth-menu-item:first-child {
    margin: 0 14px 0 0;
  }

  .auth-menu-item_active {
    width: 54px;
    height: 26px;
  }
}
