.app {
  background-color: #202020;
}

.section-title {
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 71px;
  letter-spacing: -1px;
  border-bottom: 1px solid #dadada;
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .section-title {
    line-height: 71px;
  }
}

@media screen and (max-width: 520px) {
  .section-title {
    font-size: 18px;
    line-height: 50px;
  }
}
