.navigation {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.navigation_position {
  margin: 0;
}

.navigation_hidden {
  display: none;
}

.navigation__item {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  margin: 0 17px 0 0;
  padding: 0;
  text-decoration: none;
}

.navigation__item:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.navigation__item_active {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

@media screen and (min-width: 769px) {
  .navigation__item:first-child {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .navigation_position {
    margin: 159px 0 0 0;
  }

  .navigation__item {
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    color: #ffffff;
    margin: 0 0 23px 0;
    padding: 0;
  }

  .navigation__item_active {
    line-height: 18px;
    min-height: 31px;
    display: grid;
    place-items: center;
    width: fit-content;
    border-bottom: 2px solid #ffffff;
  }

  .navigation__item:last-child {
    margin: 0;
  }
}

@media screen and (max-width: 520px) {
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .navigation_position {
    margin: 145px 0 0 0;
  }

  .navigation__item {
    margin: 0 0 17px 0;
  }

  .navigation__item_active {
    line-height: 18px;
    min-height: 35px;
    display: grid;
    place-items: center;
  }
}
