.search-form {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0 83px 0;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

@media screen and (max-width: 1280px) {
  .search-form {
    width: calc(100% - 140px);
  }
}

@media screen and (max-width: 1024px) {
  .search-form {
  }
}

@media screen and (max-width: 1280px) {
  .search-form__container {
    width: calc(100% - 200px);
  }
}

@media screen and (max-width: 1024px) {
  .search-form {
    width: calc(100% - 61px);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 60px 0 56px 0;
  }
}

@media screen and (max-width: 520px) {
  .search-form {
    width: calc(100% - 20px);
    padding: 60px 0 44px 0;
  }
}

.search-form__container {
  position: relative;
}

@media screen and (max-width: 1024px) {
  .search-form__container {
    width: 100%;
  }
}

.search-form__input {
  border: unset;
  padding: 0 0 0 22px;
  margin: 0 0 0 0;
  outline: none;
  border: 1.5px solid rgba(139, 139, 139, 0.2);
  background-color: #202020;
  box-sizing: border-box;
  border-radius: 50px;
  width: 932px;
  height: 48px;
  color: #ffffff;
}

.search-form__input:focus {
  border: 1.5px solid rgba(61, 220, 132, 0.6);
}

@media screen and (max-width: 1280px) {
  .search-form__input {
    width: 100%;
  }
}

.search-form__input::placeholder {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #8b8b8b;
}

@media screen and (max-width: 1139px) {
  .search-form__input {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .search-form__input {
    width: 100%;
    padding: 0 0 0 16px;
  }

  .search-form__input::placeholder {
  }
}

@media screen and (max-width: 520px) {
  .search-form__input {
  }

  .search-form__input::placeholder {
    font-size: 11px;
    line-height: 18px;
  }
}

.search-form__submit-button {
  border: unset;
  padding: 0;
  margin: 0;
  background-image: url('../../images/find.svg');
  background-color: transparent;
  width: 80px;
  height: 34px;
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translate(0, -50%);
}

.search-form__submit-button:active,
.search-form__submit-button:focus {
  outline: none;
}

.search-form__submit-button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
