.about {
  background: #202020;
  padding: 110px 0;
  --indent: 70px;
}

@media screen and (max-width: 1024px) {
  .about {
    --indent: 50px;
  }
}

@media screen and (max-width: 520px) {
  .about {
    --indent: 18px;
  }
}

.section-title {
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0;
  border-bottom: 1px solid #dadada;
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .section-title {
  }
}

@media screen and (max-width: 520px) {
  .section-title {
    font-size: 18px;
    line-height: 50px;
  }
}

.about__title {
  margin: 0 var(--indent);
}

/*About Content*/

.about__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 70px var(--indent) 0 var(--indent);
}

@media screen and (max-width: 1024px) {
  .about__content {
    margin-top: 70px;
  }
}

@media screen and (max-width: 520px) {
  .about__content {
    margin-top: 50px;
  }
}

.about__title {
}

.about__description {
  border: 1px solid red;
  width: 100%;
}

.about__description:first-child {
  /*margin: 0 0 0 70px;*/
}
.about__description:last-child {
  /*margin: 0 70px 0 0;*/
}

.about__description-title {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #ffffff;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

@media screen and (max-width: 520px) {
  .about__description-title {
    font-size: 18px;
    line-height: 22px;
  }
}

.about__description-text {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: #ffffff;
  max-width: 500px;
  padding: 0 0 0 0;
  margin: 26px 0 0 0;
}

@media screen and (max-width: 1024px) {
  .about__description-text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 520px) {
  .about__description-text {
    font-size: 11px;
    line-height: 16px;
  }
}

/*Gantt Chart*/

.about__gantt-chart {
  display: grid;
  /*grid-template-columns: 1fr 4fr;*/
  margin: 110px var(--indent) 0 var(--indent);
  grid-template-columns: minmax(228px, 1fr) 4fr;
  grid-template-rows: 1fr 1fr;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0;
  text-align: center;
  justify-items: stretch;
  align-items: stretch;
  --heigt-chart: 10px;
}

@media screen and (max-width: 1280px) {
  .about__gantt-chart {
    grid-template-columns: minmax(140px, 1fr) 4fr;
  }
}

@media screen and (max-width: 1024px) {
  .about__gantt-chart {
    margin-top: 93px;
  }
}

@media screen and (max-width: 767px) {
  .about__gantt-chart {
    grid-template-columns: minmax(100px, 1fr) 4fr;
  }
}

@media screen and (max-width: 520px) {
  .about__gantt-chart {
    font-size: 11px;
    line-height: 13px;
    margin-top: 60px;
  }
}

.about__backend-chart {
  background-color: #3ddc84;
  color: #000000;
  align-self: center;
  padding: var(--heigt-chart) 0;
}

.about__frontend-chart {
  grid-column-start: 2;
  grid-column-end: 6;
  background-color: #303030;
  align-self: center;
  padding: var(--heigt-chart) 0;
  color: #ffffff;
}

.about__chart-label {
  color: #a0a0a0;
  line-height: 30px;
}
